<div class="bg-white rounded-lg p-8 text-center w-full h-96 flex flex-col justify-between items-center shadow-lg mb-8 transition-all duration-500 hover:text-green-600">
    {{if photo}}
    <div style="background-image: url('{{photo}}'); background-size: cover; background-position: center; border-radius: 50%; width: 80%; height: 80%; margin-bottom: 15px;"></div>
    {{else}}
    <div style="background-image: url('/assets/avatar.svg'); background-size: cover; background-position: center; border-radius: 50%; width: 80%; height: 80%; margin-bottom: 15px;"></div>
    {{/if}}
    <h3>{{title}}</h3>
    {{if joined_ces}}
    {{ joined_ces | years_ago }} years at CES
    {{/if}}
    <p style="margin-top: 1em;">{{officialtitle}}</p>
</div>