<div class="container spacerTop30">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{title}}</h1>
        </div>
        <div class="col-sm-6">
            <img src="{{photo}}" alt="{{title}}" width="100%">
        </div>
        <div class="col-sm-6">
            <h3>{{officialtitle}}</h3>
            <h5>{{email}}</h5>
            <hr>
            {{education}}
                <h5>{{name_of_institution}}</h5>
            {{/education}}
            <hr>
            <p>{{bio}}</p>

            <!-- <p>I teach in the</p>
            {{collection:classrooms :teachers:contains="id"}}
                <a href="{{url}}"><button>{{title}}</button></a>
            {{/collection:classrooms}} -->
        </div>
    </div>
</div>

