{{partial:breadcrumb}}

<div class="container extra-padding" style="margin-top: 45px;">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{title}}</h1>
        </div>
        
        <div class="col-sm-7 col-xl-6">
            <p class="meta small">Official Title:</p>
            <h3>{{officialtitle}}</h3>
            <hr>
            <p class="meta small">Email:</p>
            <h3>{{email}}</h3>
            <hr>
            <p class="meta small">Education:</p>
            {{education}}
                <h3>{{name_of_institution}}</h3>
            {{/education}}
            <hr>
            <p class="meta small">Bio:</p>
            <p>{{bio}}</p>

            <!-- <p>I teach in the</p>
            {{collection:classrooms :teachers:contains="id"}}
                <a href="{{url}}"><button>{{title}}</button></a>
            {{/collection:classrooms}} -->
        </div>
        <div class="col-sm-5 col-xl-6">
            {{if photo}}
            <div class="polaroid" style="{{ switch between='transform: rotate(3deg);|transform: rotate(-3deg);' }}">
                <div style="height: 100%; width: 100%; margin-bottom: 30px; border-radius: 3px; border: solid thin lightgrey; background-image: url('{{photo}}'); background-size: cover; background-position: center;"></div>
            </div>
            {{else}}
            <img src="/assets/avatar.svg" alt="{{title}}" width="60%" style="border-radius: 10px;">
            {{/if}}
        </div>
    </div>
</div>

