<div class="container mx-auto px-4 md:px-8 lg:px-12 mt-12">
    <div class="w-full">
        <h1 class="text-4xl md:text-5xl font-bold text-green-600 mb-8">Donate to Cambridge-Ellis</h1>
        <p class="text-lg text-gray-700 mb-8">Thank you for considering donating to Cambridge-Ellis! You support helps us continue in our mission to enrich the lives of those we care for.</p>
        <script type="text/JavaScript" src="//app.etapestry.com/hosted/eTapestry.com/etapEmbedResponsiveResizing.js"></script><iframe id="etapIframe" style="border:none;width:100%;" src="https://app.etapestry.com/onlineforms/CambridgeEllisSchool/donate.html"></iframe>
    </div>
</div>