{{partial:breadcrumb}}

{{if main_image}}
    <div style="margin-top: 45px; margin-bottom: 30px; height: 70vh; background-image: url({{main_image}}); background-size: cover; background-position: center;"></div>
        {{else}}
        <h2 style="margin-top: 200px; margin-left: 200px;">[should upload a main image here]</h2>
    </div>
{{/if}}

<div class="container">
    <div class="row">
        <div class="col-sm-7">
           <div class="row">
                <div class="col-sm-12">
                        {{add_content}}
    
                            {{ if type == "text" }}
    
                            <div class="text">
                            {{ text }}
                            </div>
    
                            {{ elseif type == "quote" }}
    
                            <blockquote>{{ quote }}</blockquote>
                            <p>— {{ attribution }}</p>
    
                            {{ elseif type == "image" }}
    
                            <figure>
                            <img src="{{ photo }}" alt="{{ caption }}" />
                            <figcaption>{{ caption }}</figcaption>
                            </figure>
    
                            {{ /if }}
    
                        {{/add_content}}
                </div>
            </div>
        </div>
        <div class="offset-md-1 col-sm-4 spacerTop30">
            {{ nav :from="uri" }}
                {{ unless no_results }}
                    <a href="{{ url }}"><p class="meta" style="padding-top: 8px;">{{ title }}</p></a>
                {{ /unless }}
            {{ /nav }}
            {{collection:inspiring_quotes sort="random" limit="1"}}
                <h2 class="spacerTop30">"{{title}}"</h2>
                <h3>&mdash; {{attribution}}</h3>
            {{/collection:inspiring_quotes}}
        </div>
    </div>
</div>