<div class="container">
    <div class="row">
        <div class="col-sm-3 spacerTop30">
            <ul style="margin-left: -40px;">
                {{ nav :from="uri" }}
                    {{ unless no_results }}
                        <li style="list-style-type: none; margin-bottom: 30px;">
                            <a href="{{ url }}">{{ title }}</a>
                        </li>
                    {{ /unless }}
                {{ /nav }}
            </ul>     
        </div>
        <div class="col-sm-9 spacerTop30">
            <div class="row">
                <div class="col">
                    {{if main_image}}
                        <img src="{{main_image}}" width="100%" alt="{{title}}" class="spacer30">
                    {{/if}}
                </div>
            </div>
           <div class="row">
                <div class="col-sm-12">
                        {{add_content}}
    
                            {{ if type == "text" }}
    
                            <div class="text">
                            {{ text }}
                            </div>
    
                            {{ elseif type == "quote" }}
    
                            <blockquote>{{ quote }}</blockquote>
                            <p>— {{ attribution }}</p>
    
                            {{ elseif type == "image" }}
    
                            <figure>
                            <img src="{{ photo }}" alt="{{ caption }}" />
                            <figcaption>{{ caption }}</figcaption>
                            </figure>
    
                            {{ /if }}
    
                        {{/add_content}}
                </div>
           </div>
    
        </div>
    </div>
    
    
</div>