<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {{hero}}
            <div class="carousel-item {{if first}} active {{/if}}">
                <img class="d-block w-100" src="{{url}}" alt="{{title}}">
            </div>
        {{/hero}}
    </div>
  </div>


<div class="row">
    <div class="col-sm-12">
        <h2>Announcements!</h2>
            {{collection:announcements}}
                <div class="card" style="margin-bottom: 30px;">
                    {{if image}}
                        <img src="{{image}}" width="100%" alt="{{title}}">
                    {{/if}}
                    <div style="padding: 9px 15px;">
                        <strong>{{title}}</strong>
                        {{main_announcement_text}}
                    </div>
                    
                </div>                
            {{/collection:announcements}}
    </div>
</div>

