<div class="announcebanner">
    <h1>Open House!</h1>
    <h3>Saturday, Nov 6, 10am - 12pm</h3>
    <h4>Details</h4>
</div>

<div class="splide" style="margin-top: 180px;">
    <div class="splide__track">
          <div class="splide__list">
            {{slideshow}}                            
                <div class="splide__slide slide" style="background-image: url('{{image}}');"><span class="happyverb">{{happy_verb}}</span></div>
            {{/slideshow}}
          </div>
    </div>
  </div>



<div class="container">

</div>
<script>
    var splide = new Splide( '.splide', {
    type  : 'fade',
    rewind: true,
    autoplay: true,
    pauseOnHover: false,
    arrows: false,
    pagination: false,
    speed: 2000,
    } );

    splide.mount();
</script>
