<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/1363d994-8fdb-4522-aa09-be3adfa8199c.css"/>
        <link rel="stylesheet" href="/css/ces.css">
        <link rel="stylesheet" href="/css/splide.min.css">
        <script src="/js/splide.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="navigation">
                <div class="logo" style="margin: 30px 0;">
                    <a href="/"><img src="/assets/CES-logo.png" alt="{{title}}"></a>
                </div>
                <ul class="navlist">
                    <ul>
                        {{ nav include_home="true" }}
                          <div style="display: inline-block; margin: 0 10px;">
                            <a href="{{ url }}"{{ if is_current || is_parent }} class="on" {{ /if }}>
                              {{ title }}
                            </a>
                          </div>
                        {{ /nav }}
                      </ul>
                </ul>
            </div>
        </div>
        <div style="margin-top: 96px;" class="spacer60">
            {{ template_content }}
        </div>
        <div class="footer" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h2 style="color: white;">the footer</h2>
        </div>

        <script src="{{ mix src='/js/site.js' }}"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bs-init.js"></script>
    </body>
</html>
