<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11332213588"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-11332213588'); </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/1363d994-8fdb-4522-aa09-be3adfa8199c.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/ces.css">
        <link rel="stylesheet" href="/css/splide.min.css">
        <script src="/js/splide.min.js"></script>
        <link rel="stylesheet" href="/css/all.css">
        <script defer src="/js/all.js"></script>
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
         <!-- Link Swiper's CSS -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="colorlib-page">
            <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" style="z-index: 9999999; position: fixed; left: 0; background-color: white; height:69px;"><i></i></a>
            <aside id="colorlib-aside" role="complementary" class="js-fullheight">
                <nav id="colorlib-main-menu" role="navigation" style="display: flex;flex-direction: column; justify-content: space-between; height: 100%;">
                    <ul>
                        <a href="/"><img src="/assets/CESHouseLogo.png" alt="{{title}}" style="margin-bottom: 30px; width: 50%; opacity: .7;"></a>
                        {{ nav include_home="false" }}
                        {{if include}}
                            <li {{ if is_current || is_parent }} class="colorlib-active" {{ /if }}>
                                <a href="{{ url }}">
                                {{ title }}
                                </a>
                            </li>
                        {{/if}}
                    {{ /nav }}
                    </ul>                   
                    <div>
                        <p class="meta small">
                            80 Trowbridge St. <br>
                            Cambridge, MA 02138</p>
                        <p class="meta small">P: 617-354-0014</p>
                        <p class="meta small">F: 617-491-4313</p>
                        <p class="meta small spacer30"><a href="mailto:info@cambridge-ellis.org">Contact Us</a></p>
                        <a href="https://www.instagram.com/cambridgeellis/" target="_blank"><i class="lab la-instagram" style="font-size: 48px; margin-left: -10px;"></i></a>
                        <a href="https://www.facebook.com/CambridgeEllisSchool/" target="_blank"><i class="lab la-facebook" style="font-size: 48px;"></i></a>
                    </div>
                    <a href="/donate" style="margin-left: -5px;"><button>Donate Now</button></a>
                </nav>
            </aside> <!-- END COLORLIB-ASIDE -->
    
            <div id="colorlib-main">
                <section class="ftco-section pt-4 mb-5 ftco-intro">
                    <div class="container-fluid px-3 px-md-0">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                {{ template_content }}
                            </div>
                            <!-- <div class="footer" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <h2 style="color: white;">the footer</h2>
                            </div> -->
                        </div>
                    </div>
                </section>
            </div><!-- END COLORLIB-MAIN -->
        </div><!-- END COLORLIB-PAGE -->

        </section>
    
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
        

        <!-- Default Statcounter code for Cambridge Ellis School
            https://cambridge-ellis.org/ -->
            <script type="text/javascript">
                var sc_project=12673899; 
                var sc_invisible=1; 
                var sc_security="24719029"; 
                </script>
                <script type="text/javascript"
                src="https://www.statcounter.com/counter/counter.js"
                async></script>
                <noscript><div class="statcounter"><a title="Web Analytics"
                href="https://statcounter.com/" target="_blank"><img
                class="statcounter"
                src="https://c.statcounter.com/12673899/0/24719029/1/"
                alt="Web Analytics"
                referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
        <!-- End of Statcounter Code -->
    </body>
</html>
