{{partial:breadcrumb}}

{{if slideshow}}
    <div class="splide" style="margin-top: 45px; margin-bottom: 30px;">
        <div class="splide__track">
            <div class="splide__list">
                {{slideshow}}                            
                    <div class="splide__slide slide subslide" style="background-image: url('{{url}}');"></div>
                {{/slideshow}}
            </div>
        </div>
    </div>
{{/if}}

<div class="container extra-padding">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{title}}</h1>
            <h2>{{description}}</h2>
            <hr>
            <div class="row spacerTop30">
                {{classrooms}}
                    <div class="col-sm-4 spacer60">
                        <h3>{{title}}</h3>
                        <p>{{description}}</p>
                        {{if teachers}}
                        <p class="meta small" style="margin-bottom: 12px;">Teachers:</p>
                        {{teachers}}
                            <a href="{{url}}"><button>{{title}}</button></a>
                        {{/teachers}}
                        {{/if}}
                    </div>
                {{/classrooms}}
            </div>
        </div>
    </div>
</div>

<script>
    var splide = new Splide( '.splide', {
    type  : 'fade',
    rewind: true,
    autoplay: true,
    pauseOnHover: false,
    arrows: false,
    pagination: false,
    speed: 2000,
    } );

    splide.mount();
</script>