<div class="container spacerTop30">
    <div class="row">
       <div class="col-sm-12">
           <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;" class="spacer60">
               <div>
                   <h1>{{title}}</h1>
                   <h2>{{description}}</h2>
               </div>
               <button>Enroll now!</button>
           </div>
           <div class="row">

        {{ nav :from="uri" }}
            {{ unless no_results }}
                <div class="col-md-3" style="display: flex; flex-direction: column; align-items: center;">
                    <div style="height: 400px; width: 400px; margin-bottom: 30px; border-radius: 50%; background-image: url({{program_image}}); background-size: cover; background-position: center;"></div>
                    <h3>{{title}}</h3>
                    <p style="text-align: center;">{{short_description}}</p>
                    <a href="{{url}}"><button>Explore</button></a>
                </div>
            {{ /unless }}
        {{ /nav }}
    </div>

       </div>
    </div>
</div>