<div class="row">
    <div class="col-sm-12   ">
        <div class="row">
            <div class="col">
                {{if main_image}}
                    <img src="{{main_image}}" width="100%" alt="{{title}}">
                {{/if}}
            </div>
        </div>
       <div class="row">
            <div class="col-sm-12">
                {{intro_text}}
                    <div class="row">
                        {{collection:people}}
                        <div class="col-md-6">
                            <div class="card" style="padding: 12px;">
                                <h3>{{title}}</h3>
                                <h4>{{officialtitle}}</h4>
                                <strong>{{email}}</strong>
                                {{classrooms}}
                                    <a href="{{url}}">{{title}}</a>
                                {{/classrooms}}
                                <p style="margin-top: 12px;">{{bio}}</p>
                            </div>
                        </div>
                        {{/collection:people}}
                    </div>
                       
                        
            </div>
       </div>
        
    </div>
</div>