<div class="container spacerTop30">
    <div class="row">
       <div class="col-sm-12">
           <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;" class="spacer60">
               <div>
                   <h1>{{title}}</h1>
                   <h2>{{description}}</h2>
               </div>
               <button>Enroll now!</button>
           </div>
        <div class="row">
            {{ nav :from="uri" }}
                {{ unless no_results }}
                    <div class="col-sm-3">
                        <img src="{{program_image}}" alt="{{title}}" width="100%" height="auto">
                        <h3>{{ title }}</h3>
                        <p>{{short_description}}</p>
                        <a href="{{url}}"><button>Explore</button></a>
                    </div>
                {{ /unless }}
            {{ /nav }}
        </div>
       </div>
    </div>
</div>