$bisque: #fff3e5;
$glow: #edecdf;
$warm: #fff8d4;
$lilac: #ffd4fe;
$icemist:#e7eaed;
$newicemist: #ebf5ff;
$newicemist2: #e8f3ff;
$body: #384266;
$body: #4e587b;
$soft: #6e67a1;
$highlight:#db1a3c;
$highlight: #ff6768;

$cherry: #de1237d6;
$purple: #c73098;
$green: #a1d964;
$neonpaint: #92db50;
$forest: #589523;
$band: #e7a603;
$band2: #e69b84;
$band3: #947777;
$band4: #df9e86;
$band5: #66ab4a;
$band6: #232318;
$band7: #f7e4f3;
$lightgreen: rgba(98, 185, 76, 0.122);
$highlight: $highlight;