.slide {
    background-size: cover; 
    height: 80vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

blockquote {
    border-left: solid thick rgb(224, 224, 224);
    padding-left: 2em;
}

.card {
    border-radius: 30px;
    overflow: hidden;
}
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 96px;
    z-index: 999999;
    box-shadow: 0px 12px 50px 0px $glow;
    background-color: $warm;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
ul {
    margin-bottom: 0 !important;
}
.navlist {
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: $heavy;
    & li {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 6px 20px;
    }
    & a {
        color: $body;
        font-size: 21px;
    }
    & :hover {
        text-decoration: none;
        color: $highlight;
        transition: all .5s;
    }
    .on {
        font-family: $heavy;
        color: $highlight;
        border-bottom: solid 3px $highlight;
    }
}
.announcebanner {
    position: fixed;
    top: 96px;
    width: 100%;
    background-color: red;
    height: auto;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 30px;
    & h1 {
        margin: 0;
    }
}