

blockquote {
    border-left: solid thick rgb(224, 224, 224);
    padding-left: 2em;
}

.card {
    border-radius: 30px;
    overflow: hidden;
}

.navlist {
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    text-align: center;
    margin:20px;
    font-family: $roman;
    & li {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 6px 20px;
    }
    & a {
        color: $body;
    }
    & :hover {
        border-radius: 7px;
    }
}
.on {
    font-family: $heavy;
}