$sans: 'Nunito', sans-serif;
$heavy: 700;
$medium: 700;
$roman: 400;
$book: 400;
$light: 400;
$mono: 'Space Mono', monospace;
.happyverb {
    // box-shadow: 0px 12px 50px 0px rgb(0, 0, 0); 
    line-height: 96px;
    font-size: 96px; 
    color: white; 
    font-family: $sans;
    font-weight: $heavy;
}
body {
    font-family: $sans;
    font-weight: $book;
    color: $body;
    line-height: 1.6em;
    font-size: 17px;
    letter-spacing: 0.02em;
}
.bold {
    font-family: $sans;
    font-weight: $heavy;
}
.small {
    font-size: 13px; 
    line-height: 1.75;
}
.highlight {
    color: $highlight;
}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
}
h1 {
    font-family: $sans;
    font-weight: $heavy;
    font-size: 30px;
    line-height: 1.2em;
    margin-bottom: .5em;
    margin-top: 45px;
    font-weight: 700;
    color: $band5;
}
h2 {
    font-family: $sans;
    font-weight: $roman;
    font-size: 24px;
    line-height: 1.3em;
    margin-bottom: .5em;
    letter-spacing: 0em;
}
h3 {
    font-size: 18px;
    font-family: $sans;
    font-weight: $heavy;
    line-height: 1.3;
}
h4 {
    font-size: 20px;
    font-family: $sans;
    font-weight: $heavy;
    line-height: 1.3;
}
@media (min-width: $md) {
    h1 {
        font-size: 72px;
        margin-bottom: 30px;
        line-height: 1em;
    }   
    h3 {
        font-size: 24px;
        line-height: 1.3em;
    }   
}
.meta {
    font-family: $mono;
    font-weight: 400;
    margin-bottom: 4px;
}
a:hover {
    color: $body;
}
a, a .cta {
    color: $band5;
    & :hover {
        color: $body;
    }
}
p {
    & a {
        text-decoration: underline;
    }
}