.happyverb {
  line-height: 108px;
  font-size: 108px;
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #374035;
  line-height: 1.6em;
  font-size: 17px;
  letter-spacing: 0.02em;
}

.bold {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.small {
  font-size: 13px;
  line-height: 1.75;
}

.highlight {
  color: #ff6768;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  margin-top: 45px;
  font-weight: 700;
  color: #a5c544;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.3em;
  margin-bottom: 0.5em;
  letter-spacing: 0em;
}

h3 {
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

h4 {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

@media (min-width: 768px) {
  h1 {
    font-size: 72px;
    margin-bottom: 30px;
    line-height: 1em;
  }
  h3 {
    font-size: 24px;
    line-height: 1.3em;
  }
}
.meta {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  margin-bottom: 4px;
}

a:hover {
  color: #374035;
}

a, a .cta {
  color: #a5c544;
}
a :hover, a .cta :hover {
  color: #374035;
}

p a {
  text-decoration: underline;
}

.promoted {
  height: auto;
  position: relative;
  z-index: 999;
  margin: 0 auto;
  top: -15vh;
  padding: 12px 0px 60px 0px;
  overflow: hidden;
}

.slide {
  background-size: cover;
  background-position: center;
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subslide {
  height: 70vh;
}

button {
  border: none;
  border-radius: 30px;
  background-color: #a5c544;
  font-family: 700;
  letter-spacing: 0.02em;
  color: white;
  padding: 5px 20px;
  margin-bottom: 6px;
}
button:hover {
  background-color: #374035;
  color: white;
}

.polaroid {
  width: 50vh;
  height: 60vh;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 12px 50px 0px #edecdf;
  padding: 5%;
  padding-bottom: 15%;
  margin-bottom: 30px;
}

.bread {
  width: 100%;
  height: 70px;
  padding: 8px 100px;
  z-index: 99999;
  border-bottom: solid 1px lightgrey;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.9058823529);
}
.bread a {
  color: #374035;
}

@media (min-width: 992px) {
  .bread {
    left: 20%;
    padding-left: 15px;
    height: 45px;
  }
}
blockquote {
  border-left: solid thick rgb(224, 224, 224);
  padding-left: 2em;
}

.crumb {
  font-family: "Space Mono", monospace;
}

.card {
  border-radius: 30px;
  overflow: hidden;
}

hr {
  border-top: 1px solid rgba(78, 88, 123, 0.1019607843);
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  height: 96px;
  z-index: 9999;
  box-shadow: 0px 12px 50px 0px #edecdf;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul {
  margin-bottom: 0 !important;
}

.announcebanner {
  position: absolute;
  top: 30px;
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  color: white;
  background-color: rgba(165, 197, 68, 0.84);
  height: auto;
  z-index: 9999;
  padding: 18px 15px 12px 15px;
}
.announcebanner a {
  color: white;
}
.announcebanner a :hover {
  color: white;
}

.homecard {
  position: relative;
  top: -15vh;
  margin-bottom: -350px;
  width: 100%;
  padding-bottom: 110px;
}

@media (min-width: 576px) {
  .homecard {
    width: 100%;
  }
}
.shadow {
  box-shadow: 0 8px 30px rgba(8, 51, 68, 0.062745098) !important;
}

.box {
  background-color: white;
  padding: 0px;
  border-radius: 10px;
}

@media (min-width: 992px) {
  .box {
    padding: 30px;
  }
}
@media (min-width: 1200px) {
  .box {
    padding: 60px;
  }
}
.peoplecard {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 30px rgba(8, 51, 68, 0.062745098) !important;
  margin-bottom: 30px;
  transition: all 0.5s;
}

a .peoplecard {
  color: #a5c544;
}
a .peoplecard:hover {
  color: #374035;
}

.cta {
  width: 100%;
  height: 90px;
  background-color: #c73098;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 8px 30px rgba(167, 24, 123, 0.6509803922) !important;
  align-items: center;
  padding: 0 32px;
  transition: all 0.5s;
  color: white !important;
}

.spacerTop30 {
  padding-top: 30px;
}

.spacerTop60 {
  padding-top: 60px;
}

.spacerTop90 {
  padding-top: 110px;
}

.spacer30 {
  margin-bottom: 30px;
}

.spacer60 {
  margin-bottom: 60px;
}

.footer {
  width: 100%;
  height: 300px;
  background-color: #374035;
}

.swiper {
  width: 80%;
  height: auto;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  color: #fff;
  padding: 30px;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

body {
  background-color: #fafafa;
}

@media (min-width: 768px) {
  .extra-padding {
    width: calc(100% - 120px);
  }
}
.welcometext {
  padding-top: 30px;
}

@media (min-width: 768px) {
  .welcometext {
    padding-top: 0px;
  }
}
.introtext {
  width: 100%;
}

@media (min-width: 768px) {
  .introtext {
    width: 70%;
    margin: 0 auto;
  }
}
.bigstats {
  color: #374035;
  margin-bottom: 12px;
}

.carousel-indicators li {
  background-color: black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  bottom: -60px;
  opacity: 0.3;
}
